.Page {
    font-family: Arial;
    margin: 0;
}

.Title {
    background-color: #fdfffe;
    width: 100%
}

.Title-text {
    color: #627d80;
    font-size: 36px;
}

.Section {
    display: block;
    width: 50%;
}
.Section-title {
    color: #fda327;
    font-size: 16px;
    text-decoration-style: solid;
}

.SectionText {
    font-size: 14px;
}

.SectionText-link {
    color: #91a7ac;
}

.List {
    display:block;
}

.ListItem {
    list-style-type: none;
    position: relative;
    padding-left: 1.5em;
}

.ListItem::before {
    color: #fda327;
    content: "\2022";
    position: absolute;
    top: 0;
    left: 0;
}

.ListItem--bulletArrow::before {
    content: "\2794";
}

.u-marginLeft {
    margin-left: 2em;
}

.u-padding0 {
    padding: 0;
}